@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{

}
:root{
    --color-primario:#EEEDEB;
    --color-secundario:#E6B9A6;
    --color-terciario:#2F3645;
    --color-cuarto:#939185;

    --fuente-monserrat:"Montserrat", sans-serif;
    --fuente-krona:"Krona One", sans-serif;
}

.header{
    padding: 2% 0% 0% 5%;
    display: flex;
}

.header_menu{
    margin: 1.875rem 2.1875rem;
    align-items: center;
    gap:5rem;
}
.header_menu_link{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-terciario);
    margin: 0 0.625rem;
    padding: 0.4375rem 0.4375rem;
    text-decoration: none;
    font-family: var(--fuente-monserrat);

}

.header_menu_link:hover {
    color: var(--color-secundario);
}

body{
    background-color:var(--color-primario);
    color:var(--color-secundario);
    box-sizing: border-box;
}
.presentacion{
    display: flex;
    align-items: center;
    padding: 1% 5%;
    justify-content: space-between;
}

.presentacion_contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap:2.5rem;
}

.titulo-blog{
    font-weight: bold;
    font-size: 2.25rem;
    font-family: var(--fuente-krona);

}
strong{
    color: var(--color-terciario);
}


.texto-destacado{
    color:var(--color-cuarto);
    font-size: 1.5rem;
    font-family: var(--fuente-monserrat);

}

.urgente{
    color: red;
    text-align: center;
}



.enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
}

.enlaces_subtitulo{
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;
}


.enlaces_botones {
    width: 50%;
    text-align: center;
    padding: 1.34375rem 0;
    text-decoration: none; 
    font-size: 1.5rem;
    font-weight: 600;
    color:var(--color-secundario);
    border-radius: 0.5rem;
    font-family: var(--fuente-monserrat);
    border: 0.125rem solid var(--color-terciario);
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 1rem;
    
}

.enlaces_botones:hover{
    background-color: var(--color-terciario);
    cursor: pointer;
}

.imagen_principal{
    text-align: center;
    margin-top: 1.875rem;
    margin-left: 3.125rem;
    width: 50%;
}

footer{
    background-color: var(--color-terciario);
    display: flex;
    justify-content: center;
    font-weight: 400;
    padding: 1.5rem;
    font-size: 1.5rem;
    color: var(--color-primario);
    font-family: var(--fuente-monserrat);

}

@media (max-width:1200px){

    .header{
        padding: 10%;
    }

    .header_menu{
        justify-content: center;
    }

    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentacion_contenido{
        width: auto;
    }
}